<?xml version="1.0"?>
<robot name="daniel_bot" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- ****************** ROBOT CONSTANTS *******************************  -->
    <!-- Definition of geometry parameters -->
    <!-- Gantry -->
    <xacro:property name="gantry_length" value="0.5" /> <!-- El gantry es una caja de LxLxL -->
    <xacro:property name="gantry_mass" value="1" />

    <!-- Base -->
    <xacro:property name="base_length" value="0.5" /> <!-- El eslabon BASE es un cilindro -->
    <xacro:property name="base_radius" value="0.5" />
    <xacro:property name="base_mass" value="1" />

    <!-- Bicep -->
    <xacro:property name="bicep_length" value="5" /> <!-- El eslabon BICEP es una caja de WxHxL -->
    <xacro:property name="bicep_width" value="0.5" />
    <xacro:property name="bicep_height" value="0.5" />
    <xacro:property name="bicep_mass" value="1" />

    <!-- Forearm -->
    <xacro:property name="forearm_length" value="0.5" /> <!-- El eslabon FOREARM es una caja de WxHxL -->
    <xacro:property name="forearm_width" value="0.5" />
    <xacro:property name="forearm_height" value="0.5" />
    <xacro:property name="forearm_mass" value="1" />


    <!-- Define intertial property macros  -->
    <xacro:macro name="box_inertia" params="m w h d">
        <inertial>
            <origin xyz="0 0 0" rpy="${pi/2} 0 ${pi/2}" />
            <mass value="${m}" />
            <inertia ixx="${(m/12) * (h*h + d*d)}" ixy="0.0" ixz="0.0" iyy="${(m/12) * (w*w + d*d)}"
                iyz="0.0" izz="${(m/12) * (w*w + h*h)}" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="cylinder_inertia" params="m r h">
        <inertial>
            <origin xyz="0 0 0" rpy="${pi/2} 0 0" />
            <mass value="${m}" />
            <inertia ixx="${(m/12) * (3*r*r + h*h)}" ixy="0" ixz="0" iyy="${(m/12) * (3*r*r + h*h)}"
                iyz="0" izz="${(m/2) * (r*r)}" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="sphere_inertia" params="m r">
        <inertial>
            <mass value="${m}" />
            <inertia ixx="${(2/5) * m * (r*r)}" ixy="0.0" ixz="0.0" iyy="${(2/5) * m * (r*r)}"
                iyz="0.0"
                izz="${(2/5) * m * (r*r)}" />
        </inertial>
    </xacro:macro>


</robot>